{% extends 'components/bases/dashboard.html.twig' %}
{% block content %}
<div id="index">
        <div class="ligne">
                <div class="box_2-3 flex items_center"><span class="icon-user-circle-o"></span> <h1>Bonjour, Pierre</h1></div>
                <div class="box_1-3">
                        <div class="cadre">
                                <div class="cadre_header">Prochain cours</div>
                                <div class="cadre_body">
                                        <h3>Le lundi 23 décembre</h3>
                                        <p>Cours de mathématiques, avec Charles</p>
                                </div>
                                <div class="cadre_footer flex items_center justify_center">
                                        <button class="btn btn_primary">Détails</button>
                                </div>
                        </div>
                </div>
        </div>
        <div class="ligne">
                <div class="box_1-3">
                        <div class="cadre">
                                <div class="cadre_header bg_primary text_center text_secondary img">235x180</div>
                                <div class="cadre_body">
                                        <h3>Prendre un cours <br><span>régulier</span></h3>
                                        <p class="description">
                                                {{'longtext'|trans}}
                                        </p>
                                </div>
                                <div class="cadre_footer flex items_center justify_center">
                                        <button class="btn btn_primary">Réserver</button>
                                </div>
                        </div>
                </div>
                <div class="box_1-3">
                        <div class="cadre">
                                <div class="cadre_header bg_secondary text_center text_secondary img">235x180</div>
                                <div class="cadre_body">
                                        <h3>Prendre un cours <br><span>ponctuel</span></h3>
                                        <p class="description">
                                                {{'longtext'|trans}}
                                        </p>
                                </div>
                                <div class="cadre_footer flex items_center justify_center">
                                        <button class="btn btn_primary">Réserver</button>
                                </div>
                        </div>
                </div>
                <div class="box_1-3">
                        <div class="cadre">
                                <div class="cadre_header bg_thirdly text_center text_secondary img">235x180</div>
                                <div class="cadre_body">
                                        <h3>Réserver un <br><span>stage</span></h3>
                                        <p class="description">
                                                {{'longtext'|trans}}
                                        </p>
                                </div>
                                <div class="cadre_footer flex items_center justify_center">
                                        <button class="btn btn_primary">Réserver</button>
                                </div>
                        </div>
                </div>
        </div>
</div>

{% endblock %}
{% block javascripts %}
        {{ parent() }}
        <script>$(function() { $(".active_index").addClass("active") }); </script>
{% endblock %}