<div id="header">
    <nav>
        <ul>
            <li class="logo">Teach'r</li>
            <li><a class="active_index" href="{{ path('index') }}">Accueil</a> </li>
            <li><a class="active_cours" href="{{ path('courscc') }}">Mes Cours</a> </li>
            <li><a class="active_profil" href="">Mon Profil</a> </li>
        </ul>
    </nav>
</div>