$sidebar-width: 300px;
$green: #37bcc3;
$green-border: #47C9D5;
$white: #FFF;
$success:  #3bb54a;
$error: $danger;
$footerColor:  #216e72;
$headerColor:  #427c80;
$contentColor:  #f8ffff;
$lightSecondary: rgb(197, 197, 197) ;
$darkSecondary: rgb(58, 57, 57) ;