@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1we5cw');
  src:  url('../fonts/icomoon.eot?1we5cw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1we5cw') format('truetype'),
    url('../fonts/icomoon.woff?1we5cw') format('woff'),
    url('../fonts/icomoon.svg?1we5cw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-circle-o:before {
  content: "\e900";
  margin-left: 30px;
  font-size: 90px;
}
.icon-graduation-hat .path1:before {
  content: "\e901";
  color: rgb(68, 68, 68);
}
.icon-graduation-hat .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.icon-graduation-hat .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(110, 110, 110);
}
.icon-graduation-hat .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(90, 90, 90);
}
.icon-graduation-hat .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(253, 191, 0);
}
.icon-clock .path1:before {
  content: "\e906";
  color: rgb(255, 175, 16);
}
.icon-clock .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(68, 94, 160);
}
.icon-clock .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(46, 76, 137);
}
.icon-clock .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-clock .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(217, 234, 252);
}
.icon-clock .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(46, 76, 137);
}
.icon-clock .path7:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(217, 234, 252);
}
.icon-clock .path8:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(174, 193, 237);
}
.icon-clock .path9:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(174, 193, 237);
}
.icon-clock .path10:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(174, 193, 237);
}
.icon-clock .path11:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(174, 193, 237);
}
.icon-clock .path12:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(93, 193, 216);
}
.icon-clock .path13:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(217, 234, 252);
}
.icon-clock .path14:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(217, 234, 252);
}
.icon-clock .path15:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(217, 234, 252);
}
.icon-clock .path16:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(217, 234, 252);
}
.icon-clock .path17:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(217, 234, 252);
}
.icon-clock .path18:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(217, 234, 252);
}
.icon-clock .path19:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(217, 234, 252);
}
.icon-calendar .path1:before {
  content: "\e919";
  color: rgb(226, 122, 78);
}
.icon-calendar .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(220, 69, 91);
}
.icon-calendar .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(244, 244, 246);
}
.icon-calendar .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(226, 223, 244);
}
.icon-calendar .path5:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(244, 244, 246);
}
.icon-calendar .path6:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(226, 223, 244);
}
.icon-calendar .path7:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(244, 244, 246);
}
.icon-calendar .path8:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(226, 223, 244);
}
.icon-calendar .path9:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(226, 223, 244);
}
.icon-calendar .path10:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(190, 188, 221);
}
.icon-calendar .path11:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(226, 223, 244);
}
.icon-calendar .path12:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 218, 128);
}
.icon-calendar .path13:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(226, 223, 244);
}
.icon-calendar .path14:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(190, 188, 221);
}
.icon-calendar .path15:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(226, 223, 244);
}
.icon-calendar .path16:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(190, 188, 221);
}
.icon-calendar .path17:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(226, 223, 244);
}
.icon-calendar .path18:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 218, 128);
}
.icon-calendar .path19:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(226, 223, 244);
}
.icon-calendar .path20:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(190, 188, 221);
}
.icon-calendar .path21:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(226, 223, 244);
}
.icon-calendar .path22:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(226, 223, 244);
}
.icon-calendar .path23:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(190, 188, 221);
}
.icon-calendar .path24:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(226, 223, 244);
}
.icon-calendar .path25:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(190, 188, 221);
}
.icon-calendar .path26:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(0, 218, 128);
}
.icon-backpack .path1:before {
  content: "\e933";
  color: rgb(128, 128, 128);
}
.icon-backpack .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(53, 55, 68);
}
.icon-backpack .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(53, 55, 68);
}
.icon-backpack .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(85, 82, 91);
}
.icon-backpack .path5:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(53, 55, 68);
}
.icon-backpack .path6:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(53, 55, 68);
}
.icon-backpack .path7:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(85, 82, 91);
}
.icon-backpack .path8:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(92, 118, 178);
}
.icon-backpack .path9:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(111, 164, 216);
}
.icon-backpack .path10:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(246, 136, 32);
}
.icon-backpack .path11:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(251, 190, 24);
}
.icon-backpack .path12:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(246, 136, 32);
}
.icon-backpack .path13:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(219, 222, 227);
}
.icon-backpack .path14:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(85, 82, 91);
}
