.btn {
    border: 1px solid transparent;
  
    &_primary:not(:disabled):not(.disabled) {
      &, &:hover, &:active, &:focus {
        background-color: #007bff;
        font-size: 18px;
        border-radius: 5px;
        color: $white;
        border: 1px solid transparent;
  
        &:hover, &:active {
          background-color: #006bde;
        }
      }
    }
    &_outline_primary {
      color: $green;
      background-color: transparent;
      background-image: none;
      border-color: $green;
  
      &:hover{
        color: $green;
        background-color: transparent;
        border-color: $green;
        box-shadow: 0 0 10px -3px black !important;
      }
    }
  }