.bg{
    &_primary{
        background-color: orange !important;
    }
    &_secondary{
        background-color: #007bff !important;
    }
    &_thirdly{
        background-color: tomato !important;
    }
}
.text{
    &_primary{
        color: #333;
    }
    &_secondary{
        color: #ccc;
    }
    &_thirdly{
        color: #333;
    }

    &_center{
        text-align: center;
    }
}
