.ligne{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.box_2-3 {
    width: 66.666666666%;
    max-width: 66.666666666%;
    padding: 16px 20px;
}
.box_1-3 {
    width: 33.333333333%;
    max-width: 33.333333333%;
    padding: 16px 20px;
}
.box_1-2 {
    width: 50%;
    max-width: 50%;
    padding: 16px 50px;
}
.flex{
    display: flex;
    &-col{
        flex-direction: column;
    }
    &-row{
        flex-direction: row;
    }
}
.items_center{
    align-items: center;
}
.justify_center{
    justify-content: center;
}