#footer{
    background: $footerColor;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 2.5rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
        color: $lightSecondary;
        padding: 10px 0;
        margin: 0;
    } 
    & a {
        color: $lightSecondary;
        text-decoration: none;
        &:hover {
            color: $darkSecondary;
        }
        &:visited {
            color: $darkSecondary;
        }
    }
}